@use "_body.scss";
@use "_colors.scss" as *;
.container {
  width: 250px;
  height: 440px;
  margin: 110px auto;
  padding: 1rem 1rem 0 1rem;
  background: $White;
  border-radius: 20px;
  img {
    aspect-ratio: 1;
    width: 250px;
    border-radius: 5%;
  }
  h1 {
    text-align: center;
    color: $Dark-blue;
    font-weight: 700;
    font-size: 1.25rem;
  }
  p {
    text-align: center;
    color: $Grayish-blue;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: auto;
  }
}
@media  screen and (max-width:375px) {
  body{
    height: 150vh;
  }
  
}